/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #304455;
  background-color: #fff;
  margin: 0 auto;
  max-width: 845px;
  display: block;
  padding: 2em 1.4em 0;
}

p {
  line-height: 1.6em;
  margin: 1.2em 0 -1.2em;
  padding-bottom: 1.2em;
  position: relative;
  z-index: 1;
}
pre { font-family: monospace; }

button {
  background-color: white;
  color: #24292e;
  border: 2px solid #008CBA;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
  :hover {
    background-color: #008CBA;
    color: white;
  }
}
